.ipynb_checkpoints/
modern-polars-book/_build/
modern-polars-book/.ipynb_checkpoints/
data/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2022_1.csv
data/flights.pq
data/fec/*
data/fifa*
debug/
target/
**/*.rs.bk
/.quarto/
/_site/
